* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Page center */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

/* Main container */
.toDoList {
  background: #ffffff;
  width: 350px;
  padding : 20px;
  border-radius : 8px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

}
header h1{
    text-align : center;
    margin-bottom : 15px;
    color: rgb(51,51,51);
}
form{
    display:flex;
    gap: 8px;
    margin-bottom : 15px;
}
.whatneeds{
    flex : 1;
}